<html>

    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700&display=swap" rel="stylesheet">
        <!-- MAGNETIZER_META -->
    </head>

    <body class='<!-- MAGNETIZER_PAGE_CLASS -->'>

        <div id='masthead'>
            <h1 id='sitename'><a href='/'>Magnetizer Demo Site</a></h1>
        </div>

        <!-- MAGNETIZER_INDEX_HEADER -->

        <main>

            <!-- MAGNETIZER_CONTENT -->

        </main>

        <footer>
            Read more about <a href='https://github.com/magnusdahlgren/magnetizer'>Magnetizer on Github</a>
        </footer>

    </body>

</html>